langchain
python-dotenv
langchain_groq
langchain_core
fastapi
langserve
langchain-text-splitters
sse_starlette
langchain_community
langchain_chroma
langchain_huggingface
langchain
sentence-transformers
fitz
PyMuPDF
Flask
flask-socketio
eventlet
werkzeug
pypdf
gunicorn





