fastapi
uvicorn
gunicorn
python-dotenv
pydantic 
websockets
langchain
langchain-core
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
langchain-text-splitters
pypdf
chromadb
sentence-transformers
